body
{
overflow-x: hidden;
background-image: url(body.jpg);
background-repeat: no-repeat;
background-size: cover;

}
ul {
list-style-type: none;
margin: 0;
 padding: 0;
overflow: hidden;
background-image: url(head.1.jpg);
background-repeat: no-repeat;
background-size:cover;



}

li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 25px 80px;
text-decoration: none;
font-size: 20px;
}

li a:hover {
background-color: rgb(163, 128, 128);
}
img{
 margin: 5px;
 width: 100px;
 height: 70px;
}
pre{
 color: rgb(153, 153, 189);
 font-size: 18px;
 text-align: left;
 padding-top: 40px;
 

}
.column {
float: left;
width: 31%;
padding: 20px;
height: 250px; 
margin: 0px;
margin-left: 25px;
border-radius: 5px;
}


.row {
content: "";
display: table;
clear: both;
}
h2{
 font-family:elephant;
 color: rgb(13, 13, 14);
 text-align: center;
 border: 1px solid rgb(231, 231, 212);
 border-radius: 20px;
 background-color: rgb(226, 226, 198);
}
p{
 color: rgba(226, 228, 224, 0.521);
}

aside{
           
float:right;
padding-right: 100px;
padding-top: 0px;


}
        
h1{
font-family: elephant;
color: rgb(124, 175, 173);
padding-left: 80px;

}
h3{
font-family:elephant;
 color: rgb(13, 13, 14);
 text-align: center;
 border: 1px solid rgb(231, 231, 212);
 border-radius: 20px;
 background-color: rgb(212, 212, 164);
}

.row-first{
 padding: 10px;
 
}
.column-first{
 float: left;
width: 350px;
padding: 20px;
height: 250px; 
margin: 3px;
margin-left: 25px;
border-radius: 10px;
border: 2px solid rgb(39, 37, 37);

}
footer{
 text-align: center;
 background-color: rgb(199, 169, 169);
}

form{
 background-color: skyblue;
 border: 5px solid white;
 text-align: center;
 padding: 30px;
}
h4{
color: rgb(191, 142, 206);
}
h2:hover{
background-color: burlywood;
}
h3:hover{
background-color: honeydew;
}
@media only screen and (max-width:800px) {
/* For tablets: */
.main {
 width: 80%;
 padding: 0;
}
.right {
 width: 100%;
}
}
@media only screen and (max-width:500px) {
/* For mobile phones: */
.menu, .main, .right {
 width: 100%;
}
}